@font-face {
    font-family: 'fo2font';
    src:
        url('https://pixelodo.github.io/babylonjs-playgrounds/fonts/fffharmonyvx.woff2') format('woff2'),
        url('https://pixelodo.github.io/babylonjs-playgrounds/fonts/fffharmonyvx.woff') format('woff'),
        url('https://pixelodo.github.io/babylonjs-playgrounds/fonts/fffharmonyvx.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}